{% extends 'base.html' %}

{% block title %}
    Editar producto
{% endblock title %}


{% block content %}
    <h2>Editar producto</h2>
    <div>
        <form method='post' >
            {% csrf_token %}
            <input type='text' name= 'nombre' value='{{producto.nombre}}'>
            <input type='textarea' name='descripcion' value='{{producto.descripcion}}' >
            <input type='number' name='precio' value= '{{producto.precio}}' step='0.01'>
            <input type='checkbox' name= 'disponible' {% if producto.disponible%} checked {%endif%}>
            <input type='file' name='imagen' value='{{producto.imagen}}'>
            <input type='hidden' name='categoria' value= '{{producto.categoria.id}}'>
            <button type='submit'>Guardar cambios</button>
        </form>
    </div>
{% endblock content %}
    
    